.container1{
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px ;
    background-color: #D0F5BE;
    max-width: 600px;
    text-align: center;
    border: 2px solid black;
   margin: 100px auto;
}
.container1 p{
    font-weight: bold;
    margin: 20px;
    font-size: 1.2rem;
}
