*{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 100%;
}
.img{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin-top: 5%;
    color:blue !important;
    color: red;
    
}